.footer {
  background-color: #fcf5e5;
  padding: 0 20px;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}
.footer__content {
  max-width: 1280px;
  margin: 0 auto;
}
.footer__copyright {
  font-family: Poppins, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: rgba(33, 33, 33, 0.7);
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 627px;) {
  .footer {
    margin-top: 60px;
  }
  .footer__copyright {
    height: 16px;
    width: 104px;
    margin: 60px 108px;
  }
}
