.page {
  background-color: #fcf5e5;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  width: 100%;
  padding: 0;
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 80px;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

@media screen and (max-width: 627px) {
  .page__section {
    padding: 0 16px;
  }
}
